// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')

// Variables
root-size= 62.5%
bg-color= #F7F7F7
bill-color= #4BBF73
bill-hover= #41ab65
white-color= #FFFFFF
black-color= #000000
gray-color= #E3E3E3
light-gray= #7F7F7F
border-radius= 7px

// Mixins
input-style()
    height 32px
    border-radius border-radius
    background rgba(gray-color, 0.4)
    border none
    padding-left 15px

// Styles
*
    box-sizing border-box
    margin 0
    padding 0
body
    font-size root-size
    font-family 'Roboto', sans-serif
    background bg-color
    height 100vh
    display grid
    grid-template-columns minmax(5%, auto) minmax(250px, 550px) minmax(5%, auto)
    grid-template-rows 70px 77px 1fr 40px
    row-gap 20px
a
    text-decoration none
    &:hover
        color light-gray
    &:visited
        color white-color
button:hover 
    background bill-hover

header
    background white-color
    box-shadow 0 4px 4px rgba(black-color, 0.04)
    grid-column 1 / 4
.header-nav
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    padding 15px 5%
    margin-top 5px
    .header-logo img
        width 120px
    .user-section
        display flex
        flex-direction row
        align-items center
        p
            color light-gray
            margin-right: 5px
        img 
            width 34px
.aside-nav
    justify-content center
    border-radius border-radius
    grid-column 2 / 3
    grid-row 2 / 3
    background bill-color
    display flex
    justify-content space-around
    align-items center
    text-align center
    color white-color
    font-weight 500   
main
    grid-column 2 / 3
    grid-row 3 / 4  
    h2 
        font-size 1.5rem 
.section-table
    border-radius border-radius
    background white-color
    height auto
    padding 5px 15px
    margin 10px 0
table
    border-collapse collapse
    width 100%
    margin 15px 0
    text-align center
    tr
        height 30px;
        border-bottom 1px solid light-gray
    th
        font-weight 700
    a
        &:visited
            color light-gray
.customer
    margin 15px 0
    background white-color
    border-radius border-radius
    padding 20px 30px
    display flex
    flex-direction column
    font-size 1.2em
    div
        margin-bottom 10px
        display flex
        flex-direction column
        label
            font-weight 500
        input
            input-style()
.items 
    margin 15px 0
    font-size 1.2em
    .item
        margin 15px 0
        background white-color
        border-radius border-radius
        padding 20px 30px
        div, span
            margin-bottom 10px
            display flex
            flex-direction column
            label
                font-weight 500
        input, select
            input-style()
        .delete-item
            width 100%
            img
                align-self flex-end
                cursor pointer
                width 24px
.add-item
    margin 15px 0
    width 140px
    height 40px
    background bill-color
    color white-color
    border-radius border-radius
    border none
    padding 10px 20px
    cursor pointer
        
.bill-details
    margin 15px 0
    font-size 1.2em
    .bill-total 
        margin 15px 0
        background white-color
        border-radius border-radius
        margin-bottom 10px
        padding 20px 30px
        display flex
        flex-direction column
        label 
            font-weight 500
        input
            input-style()
#generate-bill
    margin 15px 0 45px 0
    width 100%
    height 71px
    background bill-color
    color white-color
    border-radius border-radius
    border none
    padding 10px 20px
    font-size 2em
    font-weight 500   
    cursor pointer 
    &:hover
        background bill-hover
footer
    grid-column 1 / 4
    grid-row 4 / 5 
    background bill-color
    color white-color
    font-weight 700
    text-align center
    line-height 40px



